<div class="nav-bar-container">
  <mat-toolbar class="nav-bar">
    <span>Wielkie żarcie</span>
    <div class="spacer"></div>

    <a mat-button>Home</a>
    <a mat-button>Recipes</a>
    <a mat-button>Fav</a>
    <a mat-button>Costam</a>
    <a mat-button>Parapapa</a>
    <a mat-raised-button color="primary" (click)="signOut()">Sign out</a>
    <a></a>
  </mat-toolbar>

  <table>
    <tr>
      <th>Recipe1</th>
      <th>Recipe1</th>
      <th>Recipe1</th>
      <th>Recipe1</th>
      <th>Recipe1</th>
    </tr>
    <tr>
      <td>Recipe1111</td>
      <td>Recipe11111</td>
      <td>Recipe11111</td>
      <td>Recipe11111</td>
      <td>Recipe11111</td>
    </tr>
    <tr>
      <td>Recipe1111</td>
      <td>Recipe11111</td>
      <td>Recipe11111</td>
      <td>Recipe11111</td>
      <td>Recipe11111</td>
    </tr>
  </table>


</div>
