<div class="nav-bar-container">
  <mat-toolbar class="nav-bar">
    <span>Wielkie żarcie</span>
    <div class="spacer"></div>

    <a mat-button (click)="getRecipes()">Home</a>
    <a mat-button>My recipes</a>
    <a mat-button>My favourite recipes</a>
    <a mat-button (click)="getRecommendation()">Find something new</a>
    <a mat-raised-button color="primary" (click)="signOut()">Sign out</a>
    <a></a>
  </mat-toolbar>

  <div class="table-container">
    <table>
      <tr>
        <th>Name</th>
        <th>Rating</th>
        <th>Tags</th>
        <th>Servings</th>
        <th>Calories</th>
        <th>Preparation time</th>
        <th>Difficulty</th>
        <th>Details</th>
      </tr>
      <tr *ngFor="let recipe of userService.recipes">
        <td>{{recipe.name}}</td>
        <td>{{recipe.rating}}</td>
        <td>{{recipe.tags}}</td>
        <td>{{recipe.servings}}</td>
        <td>{{recipe.calories}}</td>
        <td>{{recipe.preparationTimeInMinutes}} minutes</td>
        <td>{{recipe.difficulty}}</td>
        <td>
          <button mat-raised-button color="primary" (click)="openRecipeDetails(recipe.id)">Details</button>
        </td>
      </tr>
    </table>
  </div>


</div>
<router-outlet></router-outlet>
