.spacer {
  flex: 1 1 auto;
}

a {
  font-size: 1.2rem;
  font-family: Tahoma;
}

.nav-bar {
  background-color: #003380;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  font: lighter 1.2rem Source Sans Pro;
}

th {
  border-bottom: 2px solid #ddd;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #E91E63;
  color: white;
  text-transform: uppercase;
  font-weight: lighter;
  border: none;
}

td {
  border-bottom: 2px solid #ddd;
  padding-top: 20px;
  padding-bottom: 20px;
}

tr {

  border-bottom: 1px;
}
